{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Affichage de l'annonce {{ id }}</title>
</head>
<body>
    <h1>Hello Annonce n°{{ id }}</h1>
    <p>Tag éventuel : {{ tag }}</p>
<div>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>
    <p>
        Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
        Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
    </p>
</body>
</html>